<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="big" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{spinnerMessage}}</p>
</ngx-spinner>


<mat-toolbar>
    <mat-toolbar-row>
        <h5 class="my-0 mr-md-auto text-white">Gestion Covid</h5>
        <span class="example-spacer"></span>
        <mat-divider [vertical]="true"></mat-divider>
        <div (click)="logOut()" data-toggle="tooltip" data-placement="right" title="Cerrar sesión" class="row logout">
            <div class="col-auto pr-0 pl-3">
                <p class="my-0 mr-md-auto text-white">Cerrar sesión</p>
            </div>
            <div class="col-auto pr-0 pl-3">
                <mat-icon class="pt-1">exit_to_app</mat-icon>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Page content -->
<div ng-sidebar-content class="full-height bg-light">
    <div class="container-fluid full-height bg-light">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
</div>