<div class="app-login">
  <div class="content-main">
    <div class="content-login">
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="big" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Entrando...</p>
      </ngx-spinner>

      <h3 class="text-secondary">Iniciar sesión</h3>

      
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">

        <div *ngIf="invalidLogin" class="alert alert-danger">{{errorMessage}}</div>
        <br />
        <div style="text-align:center">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput maxlength="100" type="username"  formControlName="username" autofocus placeholder="Ingrese un email">
          </mat-form-field>
        </div>
        <div style="text-align:center">
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput maxlength="50" type="password" formControlName="password" autofocus placeholder="Ingrese una contraseña">
          </mat-form-field>
        </div>


        <div style="text-align:center" class="mt-4">
          <button mat-raised-button type="submit" class="button">Ingresar</button>
        </div>
        <div style="text-align:center" >
            <button mat-raised-button type="submit" class="mt-4" (click)="goToHome()" [disabled]="loginForm.invalid">Salir</button>
          </div>



      </form>

    </div>
  </div>
</div>